<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8">
	 <title>UNIVERSIDAD CENTRAL DEL ECUADOR</title>
	 <style>
	table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
   	 width: 100%;
	}

	td, th {
   	 border: 1px solid #000;
   	 text-align: left;
   	 padding: 8px;
	}
	
	hr {
   	 border: solid 0.5px #000;
   	 
	}
</style>
  </head>
  <body>
    <p><strong>Estimado(a). ${nombres} ${apellidos}.-</strong></p>
    <br/>
	  Bienvenido al Sistema Integral de Informaci&#243n Universitaria. Usted ha registrado una matr&#237;cula, por favor ingrese a la aplicaci&#243n para verificar los datos.
	<br/><br/>
		Datos de la matr&#237;cula:
		<br/>
		<br/>
		<table>
		  <tr>
		    <th>FACULTAD</th>
		    <td>${facultad}</td>
		  </tr>
		  <tr>
	    	<th>CARRERA</th>
	    	<td>${carrerasiiu}</td>
	 	 </tr>
	  	  <tr>
	    	<th>&#193REA</th>
	    	<td>${carrera}</td>
	 	 </tr>
	 	 <tr>
	    	<th>NIVEL</th>
	    	<td>${nivel}</td>
	 	 </tr>
	 	 
		</table>
	<br/>
	  El proceso se realiz&#243 el ${fechaHora}
	<br/>	  
	<br/>
		<hr>
	  <br/>
	  <strong>Informaci&#243n del Correo: </strong> Mail generado autom&#225ticamente. Por favor no responda a este mensaje.
	  <br/>
	  <br/>