<hr>
	  <table width="604" cellspacing="0" cellpadding="0" border="0" height="130" style="border-collapse:collapse">
      <tbody>
        <tr style="min-height:10.1pt">
          <td width="132" valign="top" style="width:99.25pt;border:none;border-right:solid windowtext 1.5pt;padding:0cm 0cm 0cm 0cm;min-height:10.1pt">
            <br/><br/>
            <p align="center" style="text-align:center;line-height:10.1pt">
              <b><span lang="ES-CR" style="font-size:10.0pt font-family:Serif">Sistema Integral de Informaci&#243n Universitaria<br></span></b>
            </p>
            <p align="center" style="text-align:center;line-height:10.1pt">
              <span lang="ES-CR" style="font-size:10.0pt font-family:Serif">DTIC-UCE</span>
              <span style="font-size:10.0pt;color:#1f497d"></span>
            </p>
          </td>
          <td width="96" valign="top" style="width:71.75pt;border:none;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;min-height:10.1pt">
             <p align="center" style="text-align:center;line-height:10.1pt">
              <b><span lang="ES-CR" style="font-size:10.0pt font-family:Serif">Universidad Central del Ecuador</span></b>
            </p>
            <p align="center" style="text-align:center;line-height:10.1pt">
              <img width="96" height="93" src="http://aka-cdn.uce.edu.ec/ares/tmp/logo3.png" alt="Foto" style="margin-left:0px;margin-top:0px">
            </p>
          </td>
          <td width="169" valign="top" style="width:126.7pt;border:none;border-right:solid white 1.5pt;padding:0cm 0cm 0cm 0cm;min-height:10.1pt">
            <br/>  <br/>
            <p align="right" style="text-align:center;line-height:10.1.0pt">
              <b><span lang="ES-CR" style="font-size:10.0pt font-family:Serif">Ciudadela Universitaria Av. Am&#233;rica <br></span></b>
            </p>
            <p align="right" style="text-align:center;line-height:10.1pt">
              <span lang="ES-CR" style="font-size:10.0pt font-family:Serif">Quito - Ecuador</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
   <hr>
  </body>
</html>