<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8">
	 <title>UNIVERSIDAD CENTRAL DEL ECUADOR</title>
  </head>
  <body>
    <p><strong>Estimado(a): ${estudiante} .-</strong></p>
    <br/>
	   <strong> RECEPCI&#211;N DE DOCUMENTACI&#211;N</strong>.
	   <br/>
	   La Universidad Central del Ecuador le informa que su documentaci&#243n ha sido recibida por el siguiente servidor universitario:
	  <br/>
	  <br/>
	  ${secreCarrera}
	  <br/>
	  <br/>
	   La recepci&#243n se proces&#243; el ${fechaHora}.
	  <br/>
	  <br/>
	  <br/>
	  <br/>
      <br/> 
	  ...........................................................................................
	  <br/>
	  <strong>Informaci&#243;n del Correo: </strong> Mail generado autom&#225;ticamente. Por favor no responda a este mensaje.
	  <br/>
	  <br/>
	  <br/>