<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                             http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
                             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd
                             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
                             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
         xmlns="http://www.springframework.org/schema/beans"
         xmlns:jee="http://www.springframework.org/schema/jee"
         xmlns:security="http://www.springframework.org/schema/security"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:aop="http://www.springframework.org/schema/aop">
	<!-- ========================= IMPORTACION DE CONFIGURACIONES DE BEANS ========================= -->
	<import resource="spring-beans.xml" />
	
	<!-- ==================== CONFIGURACION BASICA DE ACCESO EN BASE A ROLES ========================= -->
    <security:http auto-config="true" use-expressions="true">
    	<security:csrf disabled="true"/>
		<security:session-management >
		<security:concurrency-control max-sessions="1" expired-url="/j_spring_security_logout" error-if-maximum-exceeded="true"/>
		</security:session-management>
        <security:intercept-url pattern="/academico/generalidades/login.jsp" access="permitAll"/>
        <security:intercept-url pattern="/academico/generalidades/inicio.jsf" access="permitAll"/>
        <security:intercept-url pattern="/academico/generalidades/recuperaClave/recuperaClave.jsf" access="permitAll"/>
        <security:intercept-url pattern="/academico/generalidades/principal.jsf" access="isAuthenticated()"/>
        
        <security:intercept-url pattern="/academico/matricula/**" access="hasAnyRole('ROLE_ESTUDIANTE','ROLE_ESTUDIANTEPREGRADO')"/>
        <security:intercept-url pattern="/academico/administracionDocente/**" access="hasAnyRole('ROLE_DOCENTE', 'ROLE_ACTUALIZACIONDOCENTE', 'ROLE_SOPORTE')"/>
        <security:intercept-url pattern="/academico/administracionSecretaria/**" access="hasAnyRole('ROLE_SECRECARRERA' , 'ROLE_SECRETARIO_SUFICIENCIAS','ROLE_SECRETARIO_NIVELACION','ROLE_DIRCARRERA','ROLE_DECANO')"/>
        <security:intercept-url pattern="/academico/administracionAcademico/**" access="hasAnyRole('ROLE_SECRECARRERA','ROLE_DIRCARRERA','ROLE_ADMINDGA','ROLE_ADMINDPP','ROLE_SECREPOSGRADO','ROLE_ADMINFACULTAD','ROLE_SOPORTE' ,'ROLE_SECRETARIO_SUFICIENCIAS' ,'ROLE_INFORMATICO_FACULTAD','ROLE_SECRETARIO_NIVELACION')"/>
        <security:intercept-url pattern="/academico/administracionSuficiencia/**" access="hasAnyRole('ROLE_SECRETARIO_SUFICIENCIAS','ROLE_SOPORTE','ROLE_ADMIN_SUF_INFORMATICA','ROLE_ADMIN_SUF_ACTIVIDAD_FISICA','ROLE_ADMIN_SUF_IDIOMAS')"/>
         
        
        <security:intercept-url pattern="/academico/**" access="isAuthenticated()"/>
        <security:logout invalidate-session="true" logout-url="/j_spring_security_logout"/>
        <security:custom-filter ref="sessionManagementFilter" before="SESSION_MANAGEMENT_FILTER" />
        <security:form-login login-page="/academico/generalidades/login.jsp" default-target-url="/academico/generalidades/principal.jsf" always-use-default-target="true"  
        username-parameter="j_username" password-parameter="j_password" login-processing-url="/j_spring_security_check"  
        authentication-failure-url="/errorLogin.jsf" />
    </security:http>
    
    <!-- DEFINE EL AUTENTICATION MANAGER A PARTIR DEL BEAN PROVEEDOR DE LA AUTENTICACION -->
    <security:authentication-manager>
        <security:authentication-provider ref="proveedorAutenticacion" />
    </security:authentication-manager>
</beans>