<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>academicoJsf</display-name>
  
  <!-- =============================================================================================== -->
  <!-- =============================== LISTA DE ARCHIVOS DE INICIO O BIENVENIDA ====================== -->
  <!-- =============================================================================================== -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <!-- =============================================================================================== -->
  <!-- ================================ CONFIGURACIONES PARA EL USO DE JSF =========================== -->
  <!-- =============================================================================================== -->
  <!-- Definicion del parametro de contexto de JSF -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
    <!-- Definicion del servlet de JSF -->
  	<servlet>
	    <servlet-name>Faces Servlet</servlet-name>
	    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Definicion de mapping del servlet para gestionar todos las paginas JSF -->
	<servlet-mapping>
	    <servlet-name>Faces Servlet</servlet-name>
	    <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
  
  <!-- =============================================================================================== -->
  <!-- ================================== CONFIGURACIONES PRIMEFACES ================================= -->
  <!-- =============================================================================================== -->
  <!-- Definicion del parametro de contexto de primefaces y del theme a usar -->
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>dtictheme</param-value>
  </context-param>
  <!-- Definicion del filtro para el FileUpload de primefaces -->
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    <init-param>
      <param-name>thresholdSize</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  
  
  
  <!-- =============================================================================================== -->
  <!-- ================================ CONFIGURACION DEL USO DE SPRING ============================== -->
  <!-- =============================================================================================== -->
  <!-- Definicion del parametro de contexto que indica donde se encuentra el archivo de contexto de spring -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-context.xml</param-value>
  </context-param>
  <!-- Definicion del listener para la carga de contexto spring -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- Definicion del listener para el contexto de peticiones spring -->
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <!-- Definicion del filtro de spring -->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
 
  <!-- =============================================================================================== -->
  <!-- ========================== CONFIGURACION DEL TIEMPO MAXIMO DE SESION ========================== -->
  <!-- =============================================================================================== -->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
     
  <context-param>
       <param-name>com.sun.faces.disableVersionTracking</param-name>
       <param-value>true</param-value>
  </context-param>

  <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
  </context-param>
  
  <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/errorLogin.xhtml</location>
  </error-page>
    
  <!-- ==================================================================== -->
  <!-- ====================== CONFIGURACIONES DE SERVLETS ================= -->
  <!-- ==================================================================== -->    
 	
 	<!-- Definicion del servlet de carga de Reporte de Errores -->
	<servlet>
		<display-name>ReporteServlet</display-name>
		<servlet-name>ReporteServlet</servlet-name>
		<servlet-class>ec.edu.uce.academico.jsf.servlets.ReporteServlet</servlet-class>
 	</servlet>
 	<!-- Definicion de mapping del servlet para cargar errores en Excel-->
 	<servlet-mapping>
		<servlet-name>ReporteServlet</servlet-name>
		<url-pattern>/reportes</url-pattern>
 	</servlet-mapping>
 	
</web-app>